body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    border-left: 1px solid #E6ECF8;
}

::-webkit-scrollbar-thumb {
    background-color: #293347;
}


.mainPhoto{
    height: 300px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.4)!important;
}

.bg-primary{
    background-color: #8C43FF!important;
}

.text-primary{
    color: #8C43FF!important;
}

#personal, #about, #projects, #contact{
    min-height: 100vh;
}

#about{
    margin-top: -1px;
    min-height: 120vh;
}

#contactBtn{
    padding-left: 25px;
    padding-right: 25px;
    color: #8C43FF!important;
    border-color: #8C43FF!important;
    transition: color .4s ease,background-color .4s ease;
    display: inline-block;
}

#contactBtn:hover{
    background-color: #8C43FF!important;
    color: white!important;
}

#submit{
    color: white!important;
    border-color: white!important;
    padding-left: 3rem;
    padding-right: 3rem;
    transition: color .4s ease,background-color .4s ease;
}

#submit:hover{
    color: #8C43FF!important;
    background-color: white!important;
}



.title{
    font-weight: 800;
    line-height: 1.125;
    font-size: 2rem !important;
}

.subtitle{
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.25rem !important;
}

.card .card-body ul li{
    margin-top: 0.25em!important;
    font-size: 18px;
}

.card .card-body p{
    font-size: 18px;
}

.subText{
    font-size: 14px!important;
}

#resume{
    text-decoration: none;
    width: 2em;
    height: 2em;
    color: #aeb0b3;
    border: solid 1px #aeb0b3;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.7rem 2rem;
    transition: all .2s ease;
}

#resume:hover{
    color: #8C43FF;
    border: solid 1px #8C43FF;
    transition: all .2s ease;
}

div.social a{
    text-decoration: none;
    font-size: 1.90rem;
    width: 2em;
    height: 2em;
    color: #fff;
    text-shadow: 1.25px 0px 0px #aeb0b3, -1.25px 0px 0px #aeb0b3, 0px 1.25px 0px #aeb0b3, 0px -1.25px 0px #aeb0b3;
    transition: all .2s ease;
    border-radius: 100%;
    border: solid 1px #aeb0b3;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
}

div.social a:hover{
    text-shadow: 1.25px 0px 0px #8C43FF, -1.25px 0px 0px #8C43FF, 0px 1.25px 0px #8C43FF, 0px -1.25px 0px #8C43FF;
    border: solid 1px #8C43FF;

}

.sticky-top {
    transition: all 0.6s ease-in;
}

.stuck .sticky-top {
    -webkit-box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
}

.stuck .language{
    opacity: 0;
    transition: all 0.6s ease;
    cursor: default;
}

.stuck .language-container > a{
    pointer-events: none;
    cursor: default;
}

.stuck .language:hover{
    opacity: 0;
}

.language{
    height: 24px;
    width: auto;
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    opacity: 0.7;
    transition: all 0.2s ease;
}

.language:hover{
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
    opacity: 1;
}

.card{
    overflow: hidden;
}

.card-img, .card-img-overlay, .project-info{
    transition: all 0.2s ease;
}

.card:hover .card-img{
    transform: scale(1.1);
}


.card:hover .card-img-overlay{
    background-color: rgba(0, 0, 0, 0.644);
    border-radius:calc(.25rem - 1px);
}

.card-img-overlay .project-info{
    opacity: 0;
}

.card-img-overlay:hover .project-info{
    opacity: 1;
}

.project-info .fab, .project-info .fas{
    text-decoration: none;
    font-size: 1.25rem;
    width: 2em;
    height: 2em;
    color: #fff;
    border-radius: 100%;
    border: solid 1px white;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    transition: all .2s ease;
}

.project-info .fab:hover, .project-info .fas:hover{
    border: solid 1px rgb(183, 137, 255);
    color: rgb(183, 137, 255);
}